<article class="post">
  <div class="title">


    <div class="col-12">
      <div class="card border">
        <h3 class="card-header text-uppercase">{{office_name}}</h3>
        
        

 <div class="card-body">
   <div style="font-size:20px; color:black; text-transform:uppercase"> {{office_address}} </div>
   <div style="font-size:20px; color:black; text-transform:uppercase"> {{contact_number}} </div>
   <br>
   <span>Updated 
    
     on {{format_date created_at}} </span>

 </div>

   </div>
</div>
