<main id="response">

<div>
    <h1>Your message has been received and a member from our team will be in contact with you in 24 hours.</h2>
</div>

<button class="style1"><a href="/"> &larr; Back to the Home Page</a> </button>

</main>
<br>


 