{{#if loggedIn}}

  <section id="our-services">
    <div class="flex-row">
      <h2 class="section-title primary-border">Our A to Z Services Dashboard</h2>
    </div>

    <div class="all">


      <article class="service">
        <a href="/forsale">


        <a href="/forsale" target="_blank">
          <img src="../assets/images/home.jpeg" alt="Real-Estate" />
        </a>


        
      </article>

      <article class="service">
        <a href="/lawyer" target="_blank">
          <img src="../assets/images/Lawyer.jpg" alt="Lawyer" />
        </a>
      </article>

      <article class="service">
        <a href="/bank" target="_blank">
          <img src="../assets/images/bank.jpg" alt="bank" />
        </a>
      </article>

    </div>

  </section>

{{/if}}