:root {
  --primary-color: #fce138;
  --secondary-color: #024e76;
  --tertiary-color: #39a6b2;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;      
}

#imgsize {
  width:1000px; 
  height:600px
}
/* --------------------------------JLML----------------------------------------------------------------- */

.map {
  height: 300px;
}

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

article,
aside,
header,
nav,
section {
  display: block;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.margin-pic{
      margin-bottom: 50px;
}

#infos{
  margin-top: 50px;
  display: none;
  /* margin-bottom: 40px; */
}

#infos img{
  width: 355px;
  height: 270px;
}
#right-section{
  height: 800px;
  overflow-y: scroll; 
}

#right-section::-webkit-scrollbar{
    display: none;
}


figcaption,
figure,
main {
  /* 1 */
  display: block;
}


figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}


pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}


a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}


b,
strong {
  font-weight: inherit;
}


b,
strong {
  font-weight: bolder;
}


code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}


dfn {
  font-style: italic;
}


mark {
  background-color: #ff0;
  color: #000;
}


small {
  font-size: 80%;
}


sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}


audio,
video {
  display: inline-block;
}


audio:not([controls]) {
  display: none;
  height: 0;
}


img {
  border-style: none;
}


svg:not(:root) {
  overflow: hidden;
}


button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}


button,
input {
  /* 1 */
  overflow: visible;
}


button,
select {
  /* 1 */
  text-transform: none;
}


button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}


button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}


fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
  
}


progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}


textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}


[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}


[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}


[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}


details,
menu {
  display: block;
}

summary {
  display: list-item;
}


canvas {
  display: inline-block;
}


template {
  display: none;
}


[hidden] {
  display: none;
}





fieldset {
  margin: 0;
  padding: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
  border: 0;
}

legend {
  margin: 0;
  padding: 0;
  display: block;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
}

* {
  box-sizing: border-box;
}

.s01 {
  min-height: 80vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'Poppins', sans-serif;
  background: url("../assets/images/bailey-anselme-Bkp3gLygyeA-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  padding: 15px;
}

.s01 form {
  width: 60%;
  max-width: 1290px;
}

.s01 form legend {
  font-size: 35px;
  line-height: 1;
  color: #fff;
  margin-bottom: 60px;
  text-align: center;
}

.s01 form .inner-form {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 10px;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.s01 form .inner-form .input-field {
  margin-right: 30px;
  height: 45px;
}

.s01 form .inner-form .input-field input {
  height: 100%;
  background: #fff;
  border-radius: .5px;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 32px;
  font-size: 20px;
}

.input-field select {
   height: 100%;
  background: #fff;
  border-radius: .5px;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 32px;
  font-size: 20px;

}

.s01 form .inner-form .input-field input.placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.s01 form .inner-form .input-field input:-moz-placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.s01 form .inner-form .input-field input::-webkit-input-placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.s01 form .inner-form .input-field input:hover, .s01 form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.s01 form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.s01 form .inner-form .input-field.second-wrap {
  width: 32.77%;
  min-width: 180px;
}

.s01 form .inner-form .input-field.third-wrap {
  width: 180px;
  margin-right: 0;
}

.s01 form .inner-form .input-field.third-wrap .btn-search {
  height: 100%;
  width: 100%;
  background: #4272d7;
  white-space: nowrap;
  border-radius: .5px;
  font-size: 20px;
  color: #fff;
  transition: all .2s ease-out, color .2s ease-out;
  border: 0;
  cursor: pointer;
}

.s01 form .inner-form .input-field.third-wrap .btn-search:hover {
  background: #2d62d3;
}

@media screen and (max-width: 992px) {
  .s01 form legend {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
  }
  .s01 form .inner-form {
    padding: 30px 35px;
  }
  .s01 form .inner-form .input-field {
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .s01 form legend {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .s01 form .inner-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px;
  }
  .s01 form .inner-form .input-field {
    margin-right: 0;
  }
  .s01 form .inner-form .input-field input {
    padding: 5px 15px;
    font-size: 16px;
  }
  .s01 form .inner-form .input-field.first-wrap {
    width: 100%;
    margin-bottom: 20px;
  }
  .s01 form .inner-form .input-field.second-wrap {
    width: calc(50% - 10px);
    min-width: auto;
  }
  .s01 form .inner-form .input-field.third-wrap {
    width: calc(50% - 10px);
  }
  .s01 form .inner-form .input-field.third-wrap .btn-search {
    font-size: 16px;
  }
}




/* -------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------- */


main div h1 { 
  color: #2aa2a7;
  border-radius: 50%;
  border: 10px;
  padding: 50px;

}

#response {
  padding: 10%;
}
a:not([href]):not([tabindex]) {
  color: #fce138;
  text-decoration: none;
}


* {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--tertiary-color);
     }

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
    position: sticky;
    top: 0;
    
    background-image: url("../assets/images/hero-gb.jpg"); 
    background-size: cover;
    background-position:unset;
    background-position: 80%;
    z-index: 9999;
  }    
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
  }

header a {
    text-decoration: none;
    color: #fce138;
  }
header nav {
    
    margin: 7px 0;
  }
header nav ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }  

header nav ul li a {
    padding: 10px 15px;
    /* font-weight: lighter; */
    font-size: 1.55vw;
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  } 


  
  header nav ul li a:hover {
    background: #fce138;
    opacity: 0.7;
    color: #024e76;
    border-radius: 15px;
    text-shadow: none;
  }


.mySlides {
  width:2000px; 
  height:800px;
}


a.open-button {
  color: #fce138;

}

  footer {
    background: black;
    width: 100%;
    padding: 5px 15px;    
    opacity: 0.8;
  }
  .split{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #08a6fc;
  }

 section {
   /* padding: 60px; */
  } 

.hero {
    background-image: url("../images/hero-gb.jpg"); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.flex-row {
  display: flex;
}

 /* ------------------------------------------------- */
.all {
  width: 100%;
  margin: 0 auto;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
}
.service {
  margin: 20px;
  background: #024e76;
  color: #fce138;
  flex: 1;
}

.service img {
  width: 100%;
}

.trainer-bio {
  line-height: 1.3;
}
  .trainer-bio h3 {
    font-size: 28px;
    align-items: center;
    }
  
  .trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
  }
  
  .trainer-bio p {
    font-size: 17px;
  }
  /* --------------------------------------------------------- */



  

.contact {
    background: #024e76;
    opacity: 0.8;
  }

 .contact h2 {
     color: #fce138;
     
 }


 .contact-info {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }
 
 .contact-info > * {
  flex: 1;
  margin: 15px;
}

 .contact-info iframe {
     height: 400px;
    
}
.contact-info div  {
    color: white;
     }  
 

 .contact-info h3 {
     color: #fce138;
     font-size: 32px;
 } 
 .contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
  }

  .contact-info a {
    color: #fce138;
  }

.contact-form input, .contact-form textarea {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.75);
}

.contact-form input:focus, .contact-form textarea:focus   {
  background-color: rgba(255,255,255, 1);
  outline: none;
}

.contact-form button  {
  width: 100%;
  border: none;
  background: #fce138;
  color: #024e76;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}
.contact-form button:hover {
  color: #fce138;
  background: #39a6b2;
}

.section-title {
  font-size: 48px;
  color: #024e76;
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}
.primary-border {
  border-color: #fce138;
}
.secondary-border {
  border-color: #39a6b2;
} 



.style1, .delete-post-btn, .delete-prop-btn {
  width: 20%;
  border: none;
  background: #fce138;
  color: #024e76;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;

}

.style2 {
  margin: 15px 0 15px 80px;
 
}
.style3 {
  width: 20%;
  border: none;
  background: #fce138;
  color: #024e76;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
  margin-left: 100px;
}
a.edit-link {
  margin: 2px 0 35px 15px;
  }




/* ----------Login Popup and inside form CSS--------------------------------------------- */


body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 130px;
  right: 43px;
  border: 10px solid #070606;
  padding-right: 5px;
  z-index: 1;
  background-color: #526068;
}

/* Add styles to the form container */
.login-form .signup-form{
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.login-form input[type=text], .login-form input[type=password], .signup-form input[type=text], .signup-form input[type=password]  {
  width: 100%;
  padding: 15px;
  margin: 5px 5px 22px 5px;
  border: none;
  background: #f1f1f1;
}


.login-form input[type=text]:focus, .login-form input[type=password]:focus, .signup-form input[type=text]:focus, .signup-form input[type=password]:focus {
  background-color: rgb(211, 211, 207);
  outline: none;
}


.login-form .btn, .signup-form .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0.8;
}


.login-form .cancel, .signup-form .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.login-form .btn:hover, .open-button:hover, .signup-form .btn:hover {
  opacity: 1;
}



/* -----------------------------------------------------------------------*/



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }
  .hero-cta, .hero-form {
    width: 100%;
  }
  
  .hero-cta {
    text-align: center;
  }
  .section-title {
    width: 80%;
  }
  
  .trainer {
    flex: 0 70%;
  }
  
  .contact-info iframe{
    flex: 1 100%;
  }

}



/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  } 

  .contact-form {
    order: 3;
  }



.mySlides {
  width:500px; 
  height:250px;
}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

#imgsize {
  width:300px; 
  height:300px
}


}
